@font-face {
  font-family: "Plus Jakarta Sans";
  src: local("Plus Jakarta Sans Regular"), local("PlusJakartaSans-Regular"), url("../fonts/PlusJakartaSans-Regular.woff2") format("woff2"), url("../fonts/PlusJakartaSans-Regular.woff") format("woff"), url("../fonts/PlusJakartaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sofia Sans";
  src: local("Sofia Sans ExtraBold"), local("SofiaSans-ExtraBold"), url("../fonts/SofiaSans-ExtraBold.woff2") format("woff2"), url("../fonts/SofiaSans-ExtraBold.woff") format("woff"), url("../fonts/SofiaSans-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sofia Sans";
  src: local("Sofia Sans Regular"), local("SofiaSans-Regular"), url("../fonts/SofiaSans-Regular.woff2") format("woff2"), url("../fonts/SofiaSans-Regular.woff") format("woff"), url("../fonts/SofiaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
ol[class], ul, ul[class], menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

a, label {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #000;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

blockquote, body, dd, dl, figcaption, figure, h1, h2, h3, h4, li, ol[class], p, ul[class] {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

button, input, select, textarea {
  font: inherit;
}

button {
  all: unset;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0s !important;
    animation-duration: 0s !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0s !important;
    -o-transition-duration: 0s !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 17px;
  color: #000000;
}

.container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.header {
  margin-top: 46px;
  position: fixed;
  top: 0;
  width: 100%;
}
.header .sidebar {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 250px;
  width: 100%;
  padding: 0 37px 0 56px;
  font-family: "Sofia Sans", sans-serif;
}
.header .sidebar h1 {
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 44px;
}
.header .sidebar__logo {
  margin-bottom: 57px;
}
.header .sidebar__logo svg {
  width: 93px;
  height: 44px;
  fill: none;
}
.header .sidebar__icons {
  margin-bottom: 28px;
}
.header .sidebar__icons img {
  width: 23px;
  height: 23px;
  margin-right: 10px;
}
.header .sidebar__icons:last-child {
  margin-top: 170px;
}
.header svg {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: none;
}
.header__row {
  justify-content: space-between;
  align-items: center;
  padding-left: 250px;
}
.header__search {
  gap: 17px;
}
.header__search-form input {
  border: none;
  vertical-align: super;
}
.header__menu li:not(:last-child) {
  margin-right: 42px;
}
.header__menu li:hover {
  border-bottom: 2px solid #000000;
  transition: linear 0.2s;
}
.header nav {
  margin-right: 47px;
}
.header__nav svg:first-of-type {
  margin-right: 25px;
}

/*# sourceMappingURL=style.css.map */
