@font-face {
  font-family: "Plus Jakarta Sans";
  src: local("Plus Jakarta Sans Regular"), local("PlusJakartaSans-Regular"), url("../fonts/PlusJakartaSans-Regular.woff2") format("woff2"), url("../fonts/PlusJakartaSans-Regular.woff") format("woff"), url("../fonts/PlusJakartaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sofia Sans";
  src: local("Sofia Sans ExtraBold"), local("SofiaSans-ExtraBold"), url("../fonts/SofiaSans-ExtraBold.woff2") format("woff2"), url("../fonts/SofiaSans-ExtraBold.woff") format("woff"), url("../fonts/SofiaSans-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sofia Sans";
  src: local("Sofia Sans Regular"), local("SofiaSans-Regular"), url("../fonts/SofiaSans-Regular.woff2") format("woff2"), url("../fonts/SofiaSans-Regular.woff") format("woff"), url("../fonts/SofiaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
ol[class], ul, ul[class], menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

a, label {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #000;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

blockquote, body, dd, dl, figcaption, figure, h1, h2, h3, h4, li, ol[class], p, ul[class] {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

button, input, select, textarea {
  font: inherit;
}

button {
  all: unset;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0s !important;
    animation-duration: 0s !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0s !important;
    -o-transition-duration: 0s !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}
.content__group figcaption, .sidebar h1 {
  font-weight: 800;
  font-size: 30px;
}

.content__group-bottom figcaption {
  font-weight: 800;
  font-size: 17px;
}

.header svg, .sidebar__icons img {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
  display: inline-block;
  fill: none;
}

.content__item svg {
  width: 38px;
  height: 38px;
  fill: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 17px;
  color: #000000;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content max-content max-content;
  grid-template-areas: "aside header" "aside main" "aside main";
}
@media (max-width: 767px) {
  body {
    grid-template-areas: "header header" "aside main" "aside main";
  }
}

main {
  font-family: "Sofia Sans", sans-serif;
  grid-area: main;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__container {
  max-width: 1360px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.sidebar {
  grid-area: aside;
  max-width: 250px;
  width: 100%;
  padding: 0 37px 0 55px;
  font-family: "Sofia Sans", sans-serif;
}
.sidebar h1 {
  margin-bottom: 44px;
}
.sidebar__logo {
  padding: 46px 0;
}
.sidebar__icons {
  margin-bottom: 28px;
}
.sidebar__icons img {
  margin-right: 10px;
}
.sidebar__icons:last-child {
  margin-top: 170px;
}

@media (max-width: 1350px) {
  .sidebar__wrapper {
    position: sticky;
    top: 0;
    left: 0;
  }
}
@media (max-width: 1024px) {
  .sidebar {
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
}

.header {
  grid-area: header;
  padding: 46px 0;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}
.header__sidebar {
  display: none;
}
.header img {
  width: 93px;
  height: 44px;
}
.header__logo-btn {
  display: none;
}
.header__row {
  justify-content: space-between;
}
.header__search {
  gap: 17px;
  margin-left: -330px;
}
.header__search-form input {
  border: none;
}
.header__menu li:not(:last-child) {
  margin-right: 42px;
}
.header__menu li:hover {
  border-bottom: 2px solid #000000;
  transition: linear 0.2s;
}
.header__nav nav {
  margin-right: 47px;
}
.header__nav input {
  display: none;
}
.header__nav .bi-list {
  font-size: 26px;
}
.header__nav svg:first-of-type {
  margin-right: 20px;
}

@media (min-width: 1024px) {
  .header [for=header__nav-button] {
    display: none;
  }
}
@media (max-width: 1350px) {
  .header__menu li:not(:last-child) {
    margin-right: 35px;
  }
  .header__search {
    margin: 0;
  }
}
@media (max-width: 1024px) {
  .header__menu {
    display: none;
    position: absolute;
    left: 0;
    top: 90px;
    background-color: white;
    z-index: 10;
    text-align: center;
    width: -webkit-fill-available;
  }
  .header__menu li:hover {
    scale: 1.5;
    border-bottom: none;
    transition: 0.3s;
    padding-bottom: 10px;
  }
  .header__menu li:not(:last-child) {
    margin: 0;
  }
  .header__nav {
    align-items: center;
  }
  .header__nav-button {
    display: inline-block;
    font-size: 26px;
  }
  .header__nav-button:checked + nav .header__menu {
    display: initial;
  }
}
@media (min-width: 767px) {
  .header__logo {
    display: none;
  }
}
@media (max-width: 767px) {
  .header__sidebar {
    position: absolute;
    left: 0;
    top: 90px;
    z-index: 15;
    background-color: white;
    text-align: center;
    width: max-content;
  }
  .header__sidebar .sidebar__icons {
    margin: 0;
  }
  .header__sidebar .sidebar__icons img {
    width: 45px;
    height: 22px;
  }
  .header__logo {
    display: inline-block;
  }
  .header__logo-btn:checked + .header__sidebar {
    display: initial;
  }
}
@media (max-width: 576px) {
  .header .header__row svg, .header__row .header svg {
    width: 12px;
    height: 12px;
  }
  .header {
    padding: 23px 0;
  }
  .header__menu {
    top: 70px;
    text-align: end;
  }
  .header__sidebar {
    top: 70px;
  }
  .header__row img {
    width: 55px;
    height: 25px;
  }
  .header__search input {
    font-size: 14px;
    max-width: 75px;
  }
  .header__nav .bi-list {
    font-size: 14px;
  }
}

.content__group, .content__group-bottom {
  margin-bottom: 20px;
  justify-content: center;
}
.content__group-row {
  justify-content: end;
  align-items: center;
  width: calc(50% - 10px);
  gap: 20px;
  margin-right: 10px;
}
.content__group-col {
  justify-content: start;
  align-items: center;
  width: calc(50% - 10px);
  gap: 20px;
  margin-left: 10px;
}
.content__group figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content__item figure {
  position: relative;
  max-width: 540px;
}
.content__item svg path:hover {
  fill: red;
  stroke: red;
}
.content__group-bottom {
  flex-direction: row-reverse;
}
.content__group-bottom-row {
  justify-content: start;
  align-items: center;
  width: calc(50% - 10px);
  gap: 20px;
  margin-left: 10px;
}
.content__group-bottom-col {
  justify-content: end;
  align-items: center;
  width: calc(50% - 10px);
  gap: 20px;
  margin-right: 10px;
}
.content__group-bottom figcaption {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.content__group-bottom figcaption p {
  font-size: 14px;
  font-weight: 400;
}
.content__group-bottom .trending {
  color: #001AA2;
}
.content__group-bottom .buy {
  color: #FD2E24;
}

@media (max-width: 1350px) {
  .content .container {
    max-width: 768px;
  }
  .content__group-row, .content__group-bottom-row {
    flex-direction: column;
    width: 100%;
    margin: 0 0 20px;
  }
  .content__group-col, .content__group-bottom-col {
    width: 100%;
    justify-content: center;
    margin: 0 0 20px;
  }
}
@media (max-width: 767px) {
  .content .container {
    max-width: 577px;
  }
}
@media (max-width: 576px) {
  .content__group figcaption {
    font-size: 16px;
  }
  .content__group-bottom h2 {
    font-size: 16px;
  }
  .content__group-bottom p {
    font-size: 10px !important;
  }
}

/*# sourceMappingURL=style.css.map */
