.sidebar {
  grid-area: aside;
  max-width: 250px;
  width: 100%;
  padding: 0 37px 0 55px;
  font-family: $font-sofia;
  //position: sticky;
  //top: 0;
  //height: 100vh;
  //align-self: start;

  h1 {
    @extend %title-style;
    margin-bottom: 44px;
  }

  &__logo {
    padding: 46px 0;
  }

  &__icons {
    margin-bottom: 28px;

    img {
      @extend %header-svg;
      margin-right: 10px;
    }

    &:last-child {
      margin-top: 170px;
    }
  }
}





