.sidebar {
  @include desktop {
    &__wrapper {
      position: sticky;
      top: 0;
      left: 0;
    }
  }

  @include laptop {
    & {
      padding: 0 15px;
    }
  }

  @include tablet {
    & {
      display: none;
    }
  }
}