body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: $font-md;
  color: $main-text-color;
}

.container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

main {
  font-family: "Sofia Sans", sans-serif;
}

