@font-face {
  font-family: 'Plus Jakarta Sans';
  src: local('Plus Jakarta Sans Regular'), local('PlusJakartaSans-Regular'),
  url('../fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
  url('../fonts/PlusJakartaSans-Regular.woff') format('woff'),
  url('../fonts/PlusJakartaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sofia Sans';
  src: local('Sofia Sans ExtraBold'), local('SofiaSans-ExtraBold'),
  url('../fonts/SofiaSans-ExtraBold.woff2') format('woff2'),
  url('../fonts/SofiaSans-ExtraBold.woff') format('woff'),
  url('../fonts/SofiaSans-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Sans';
  src: local('Sofia Sans Regular'), local('SofiaSans-Regular'),
  url('../fonts/SofiaSans-Regular.woff2') format('woff2'),
  url('../fonts/SofiaSans-Regular.woff') format('woff'),
  url('../fonts/SofiaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



