$font-sm: 14px;
$font-md: 17px;
$font-lg: 26px;
$font-xl: 30px;

$main-text-color: #000000;

$main-bg-color: #FFFFFFFF;

$position-right: right;
$position-left: left;

$header-height: max-content;

$breakpoint-xxl: 1350px;