$font-sm: 14px;
$font-md: 17px;
$font-lg: 26px;
$font-xl: 30px;

$font-jakarta: "Plus Jakarta Sans", sans-serif;
$font-sofia: "Sofia Sans", sans-serif;

$main-text-color: #000000;

$main-bg-color: #FFFFFFFF;

$position-right: right;
$position-left: left;

$header-height: 80px;

$breakpoint-xxl: 1350px;
$breakpoint-xl: 1024px;
$breakpoint-lg: 767px;

