.header {

  margin-top: 46px;
  position: fixed;
  top: 0;
  width: 100%;

  svg {
    display: inline-block;
    width: 24px;
    height: 24px;
    fill: none;
  }

  &__row {
    justify-content: space-between;
    align-items: center;
    padding-left: 250px;
  }

  &__search {
    gap: 17px;
  }

  &__search-form input {
    border: none;
    vertical-align: super;
  }

  &__menu li:not(:last-child) {
    margin-right: 42px;
  }

  &__menu li:hover {
    border-bottom: 2px solid $main-text-color;
    transition: linear 0.2s;
  }

  nav {
    margin-right: 47px;
  }

  &__nav {
    svg:first-of-type {
      margin-right: 25px;
    }
  }

}