.header {
  grid-area: header;
  padding: 46px 0;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $main-bg-color;

  &__sidebar {
    display: none;
  }

  img {
    width: 93px;
    height: 44px;
  }

  &__logo-btn {
    display: none;
  }

  svg {
    @extend %header-svg;
  }

  &__row {
    justify-content: space-between;
  }

  &__search {
    gap: 17px;
    margin-left: -330px;

    &-form-mobile {
      display: none;
    }

    &-form input {
      border: none;
    }
  }

  &__menu li:not(:last-child) {
    margin-right: 42px;
  }

  &__menu li:hover {
    border-bottom: 2px solid $main-text-color;
    transition: linear 0.2s;
  }

  &__nav {
    nav {
      margin-right: 47px;
    }

    input {
      display: none;
    }

    &-icons {

      svg:first-of-type {
        margin-right: 20px;
      }
    }
  }
}
