.header {
  @media (min-width: $breakpoint-xl) {
    & {
      [for="header__nav-button"] {
        display: none;
      }
    }
  }

  @include desktop {
    &__menu li:not(:last-child) {
      margin-right: 35px;
    }

    &__search {
      margin: 0;
    }
  }

  @include laptop {
    &__menu {
      display: none;
      position: absolute;
      left: 0;
      top: $header-height;
      background-color: white;
      z-index: 10;
      text-align: center;
      width: -webkit-fill-available;

      & li:hover {
        scale: (1.5);
        border-bottom: none;
        transition: .3s;
        padding-bottom: 10px;
      }

      li:not(:last-child) {
        margin: 0;
      }
    }

    &__nav {
      align-items: center;

      &-button {
        display: inline-block;
        font-size: $font-lg;

        &:checked {
          & + nav .header__menu {
            display: initial;
          }
        }
      }
    }
  }

  @media (min-width: $breakpoint-lg) {
    &__logo {
      display: none;
    }
  }

  @include tablet {
    & {

      &__sidebar {
        position: absolute;
        left: 0;
        top: $header-height;
        z-index: 15;
        background-color: white;
        text-align: center;
        width: max-content;

        .sidebar__icons {
          margin: 0;

          img {
            width: 45px;
            height: 22px;
          }
        }
      }

      &__logo {
        display: inline-block;

        &-btn {


          &:checked {
            & + .header__sidebar {
              display: initial;
            }
          }
        }
      }
    }
  }

  @include mobile {
    %header-mobile-svg {
      width: 12px;
      height: 12px;
    }

    & {
      padding: 23px 0;

      &__menu {
        top: $header-height-mobile;
        text-align: end;
      }

      &__sidebar {
        top: $header-height-mobile;
      }

      &__row {

        img {
          width: 55px;
          height: 25px;
        }

        svg {
          @extend %header-mobile-svg;
        }
      }

      &__search {
        input {
          font-size: $font-sm;
          max-width: 75px;
        }
      }

      &__nav {
        .bi-list {
          font-size: $font-sm;
        }
      }
    }
  }
}